body {
  background-color: #eee;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  /*Colors*/
  --blue: #08427c;
  --orange: #d55a17bf;
  --prm-orange: rgba(221, 129, 29);
  --white: rgba(255, 255, 255, 0.7);
  --ee-white: #eee;

  /*Custom Fonts*/
  --Montserrat: 'Montserrat';
  --Ubuntu: 'Ubuntu';

  /*Outlines*/
  --outline-green: 1px solid green;
}


p, h3, a {
  font-family: var(--Montserrat);
}

/*.icon-bar {
  width: 50px;
  top: 90px;
  background-color: var(--blue);
  position: fixed;
  z-index: 99;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px; 
  transition: linear 0.2s;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: white;
  color: black;
}



/*First Navigation Bar*/

.mySlides {
  display: none;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}

.topnav img {
  border-radius: 3px;
  padding: 0;
  margin: 5px;
}

/*First Navigation Bar (Paragrapgh Elements)*/
.topnav p {
  color: var(--blue);
  margin: 0;
  padding: 0.5em;
  border-left: var(--orange) 1px solid;
  }

/*Second Navigation Bar*/
.topnav2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  margin: 0px;
  padding: 1em;
  height: 50px;
  background-color: var(--prm-orange);
  position: sticky;
  top: 0;
  z-index: 99;
}

/*Second Navigation Bar (Link Elements)*/
.topnav2 a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  height: 50px;
  color: var(--white);
  transition: linear 0.2s;
}

/*Second Navigation Bar (Link Elements when Hovered)*/
.topnav2 a:hover {
background-color: white;
color: var(--blue);
transition: linear 0.2s;
}

.topnav2 .social-links {
color: var(--white);
position: absolute;
right: 5em;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}

.topnav2 .social-links a {
transition: linear 0.2s;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.topnav2 .social-links a:hover {
color: #08427c;
transition: linear 0.2s;
cursor: pointer;
}

.dropbtn {
display: none;
background-color: var(--prm-orange);
color: white;
padding: 10px;
font-size: 16px;
border: none;
cursor: pointer;
position: relative;
width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: var(--prm-orange);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: var(--prm-orange);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: bold;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--white);
  text-transform: uppercase;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  display: block;
  transition: linear 0.2s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover .dropdown-content a:focus {
  background-color: white;
  color: #08427c;
  transition: linear 0.2s;
  cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}


.header_container {
  background-color: var(--ee-white);
  height: 3em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_icon i {
    color: var(--prm-orange);
    opacity: 30%;
}

.header_title {
 position: absolute;
 color: var(--blue);
 font-family: var(--Montserrat);
}

.order-welcome {
  padding-top: 1em;
}

/*form {
	background-color: var(--blue);
  color: white;
  display: block; 
  overflow: hidden;
  grid-template-columns: auto auto;
  margin: 1rem auto;
	padding: 2rem;
  padding-top: 0em;
  margin-bottom: 5em;
	max-width: 500px;
	border-radius: 5px 5px 0px 0px;
}*/

.form-container {
display: grid;
place-items: center;
padding-bottom: 2em;
margin-bottom: 2em;
}

form {
  color: white;
  overflow: hidden;
	width: fit-content;
}


h2 {
  text-align: center;
}



/*Column 1*/
.info-container {
  width: 550px;
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--blue);
  overflow: hidden;
  border-radius: 5px;
}

.info-hdr-container {
  background-color: var(--prm-orange);
  margin-bottom: 1em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 700px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
}

.info-h3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.info-h3 {
  font-family: var(--Montserrat);
  font-weight: bold;
  letter-spacing: 1px;
}

.info-pencil-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pencil {
  color: var(--blue);
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

label {
  font-family: var(--Montserrat);
}

input[type=number], input[type=text], input[type="tel"] {
  font-family: var(--Montserrat);
  font-weight: bold;
  line-height: 2em;
  width: 100%;
  letter-spacing: 0.5px;
}

.proceed-btn {
  display: block;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--ee-white);
  color: var(--blue);
  width: 100%;
  padding: 14px;
  font-size: 16px;
  margin-top: 1em;
  transition: linear 0.2s;
}

.proceed-btn:hover {
  background-color: var(--prm-orange);
  color: white;
  transition: linear 0.2s;
}

#section2 {
height: 63px;
background-color: black;
visibility: hidden;
}

/*Column 2*/
.selection-container {
  display: grid;
  width: 550px;
  padding-top: 2em;
  padding-bottom: 3em;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--blue);
}

.selection-buttons {
display: grid;
grid-template-columns: auto auto;
width: 310px;
}

input[type=submit], input[type=reset] {
  font-family: var(--Montserrat);
  font-weight: bold;
  margin-right: 1em;
  line-height: 2em;
  width: 100%;
  letter-spacing: 0.5px;
}

.selection-container ul {
  padding: 0;
}

.selection-img {
  background-position: center;
  width: 180px;
  height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-repeat: no-repeat, no-repeat;
  object-fit: cover;
  opacity: 100%;
}

.selection-container2 {
  display: flex;
  width: 485px;
  overflow: auto;
  border-radius: 10px;
}

.selection-images img {
  margin-right: 1.5em;
}

.type-order-container {
  width: fit-content;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto auto;
}

/*Delivery Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 34px;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--prm-orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--prm-orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*End of Switch*/


.return-home {
  background-color: var(--blue);
  margin-block-start: 2em;
  width: 434px;
 }

 .return-home a {
   font-weight: bold;
   color: black;
   background-color: white;
   padding-inline: 1em;
   padding: 0.5em;
   padding-bottom: 0.8em;
   text-underline-offset: 5px;
   transition: 0.3s ease;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   -webkit-transform: scale(0.5);
   -ms-transform: scale(0.5);
   transform: scale(0.5);
}

.return-home-link:hover {
  color: white;
  background-color: var(--prm-orange); 
  transition: 0.3s ease;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



.bottom_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--prm-orange);
 }

 .bottom_logo img {
  width: 60px;
  height: 60px;
  margin: 1em;
  margin-bottom: 0;
 }


 .bottomnav {
   background-color: var(--prm-orange);
   display: flex;
   justify-content: center;
   align-items: left;
   color: var(--white);
   margin-top: 0;

 }

 .bottomnav h3 {
  color: var(--white);
  text-align: center;
}

 .col1 {
   width: 500px;
   margin-inline: 2em;
 }

 .col1 .nav-content {
  margin-top: 5px;
  text-justify: inter-word;
  text-align: justify;
  line-height: 1.5em;
 }

 .col2 {
  width: 500px;
  margin-inline: 2em;
  text-align: center;
}

.col2_contact {
  line-height: 12px;
}

.col2_email {
  padding-block: 2em;
}

.col3 {
  width: 500px;
  margin-inline: 2em;
  text-align: center;
}

.footer_nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1em;
}

.footer_nav1 a {
  color: var(--blue);
  text-decoration: none;
}

.footer_nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  padding: 0.1em;
}

.footer_nav2 a {
  letter-spacing: 0.5px;
  text-align: center;
  padding-inline: 0.5em;
  color: var(--white);
  transition: linear 0.2s;
}

.footer_nav2 a:hover {
  background-color: white;
  color: var(--blue);
  transition: linear 0.2s;
  }

  /*Social Links*/
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .social-links a {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    place-items: center;
    background-color: rgba(99, 95, 95);
    border-radius: 50%;
    transition: 0.5s ease;
  }

  .social-links a:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.5s ease;
    background-color: white;
    color: black;
    cursor: pointer;
  }


  /*Media Queries*/
@media screen and (max-width: 525px) {
  
    .dropdown .dropbtn {
      display: block;
    }

    .dropdown {
      display: inline-block;
      width: 100%;
    }

    .dropdown-content {
      width: 100%;
      font-weight: bold;
    }

    .dropdown-content a:hover {
      background-color: white;
      color: var(--blue);
    }
    

    .topnav2 {
      display: none;
    }
  }

@media screen and (max-width: 900px) {
  .hero-text .info {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {

  .review-container {
      text-align: center;
      display: grid;
      place-items: center;
      padding: 0;
  }

  .review {
    display: grid;
    place-items: center;
    max-width: 400px;
    box-shadow: none;
  }

  .review img {
      margin: auto;
      float: none;
      display: grid;
  }

  .review span {
      display: block;
  }

  .review p {
      text-align: center;
      margin: 1em;
      display: grid;
      place-items: center;
  }
}

@media screen and (max-width: 800px) {
  
  .topnav2 .social-links {
    display: none;
  }
}

  @media screen and (max-width: 1310px) {
    .product-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      columns: 2;
    }

    .product {
      gap: 1em;
      display: block;
    }

    .bottomnav {
      display: grid;
      place-items: center;
      text-align: center;
      gap: 0;
    }

    .col1 {
      max-width: 350px;
      margin-bottom: 0;
      display: grid;
      place-items: center;
    }

    .col1 .nav-content {
      text-align: justify;
    }

    .col2 {
      padding: 0;
      width: 460px;
      margin-bottom: 0;
    }

    .col3 {
      position: relative;
      width: 460px;
      padding-bottom: 1em;
    }
}


/*Tester*/
* {
box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
html {
  scroll-behavior: smooth;
}
}

.back-to-top-wrapper {
position: absolute;
top: 178vh;
right: 2em;
pointer-events: none;
display: grid;
place-items: center;
}

#back-to-top-link {
pointer-events: all;
top: calc(178vh - 5rem);
text-decoration: none;
font-size: 2rem;
transition: 1s ease;
background-color: var(--blue);
padding: 5px;
color: white;
}

#back-to-top-link:hover,
#back-to-top-link:focus {
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
transition: 1s ease;
}

#back-to-top-link:focus {
  box-shadow: 0 0 0 3px scale-color(#254568);
}